@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  width: 90%;
  margin: 0 auto;
  color: white;
}

.text-style-primary{
  @apply text-lg lg:text-2xl font-semibold;
}

.text-hero-h1{
  @apply text-[32px] sm:text-5xl md:text-[64px] font-semibold mb-2.5 md:mb-0
}

.text-hero-tagline{
  @apply font-medium sm:text-2xl md:text-[32px]
}

.btn {
  @apply rounded-xl px-5 py-3 sm:px-8 sm:py-5 sm:text-lg md:px-10 md:py-6 md:text-xl lg:px-[50px] lg:py-7 lg:text-2xl
}
